<div class="card pt-20">
    <div class="card flex justify-center pb-20">
        <p-button label="Log Absence" (click)="addRecord()" />
    </div>
    <div class="p-4 bg-gray-100 rounded-lg shadow-md">
        <ul class="divide-y divide-gray-300">
          <li *ngFor="let event of events; let i = index" class="p-3 bg-white rounded-lg shadow-md mb-2">
            <span class="text-gray-700 font-medium mr-10">{{ event.status }}</span>
            <p-button label="Edit" (click)="edit(i)"></p-button>
          </li>
        </ul>
    </div>

    <p-dialog header="Modify Entry" [(visible)]="displayDialog">
        <p>Do you want to modify it?</p>
        <div class="flex justify-end gap-2 mt-3">
          <ng-container *ngIf="selectedEventIndex !== null && events[selectedEventIndex]">
            <p-button 
              *ngIf="events[selectedEventIndex].status.includes('Evening') || events[selectedEventIndex].status.includes('full day')" 
              label="Change to Morning" 
              (click)="confirmChange('Morning')" 
              class="p-button-primary mr-10" 
            />
            <p-button 
              *ngIf="events[selectedEventIndex].status.includes('Morning') || events[selectedEventIndex].status.includes('full day')" 
              label="Change to Evening" 
              (click)="confirmChange('Evening')" 
              class="p-button-primary mr-10" 
            />
          </ng-container>
          <p-button label="Full Day" (click)="confirmChange('FullDay')" class="p-button-primary mr-10" />
          <p-button label="Delete Entry" (click)="confirmChange('Delete')" class="p-button-primary" />
        </div>
    </p-dialog>
</div>
